<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bug Adminstration{% endblock %}</title>
</head>

<!--<script>-->
<!--alert("{{msg}}");-->
<!--</script>-->

<body>
<font face="verdana" color="#E04040">{{msg}}</font>
<table width='100%' border="0" cellspacing="0">
    <tr>
        <td><a href="../"><font face="verdana" color="##6060C0"><strong>Bug List</strong></font></a></td>
        <td align="center" valign="middle">
            <font  face="verdana" size="5" color="#000050"><strong>Detail of "{{bug.problem}}"</strong></font>
        </td>
    </tr>
</table>
{% block content %}
<div>
    <table border="1" width="100%" cellspacing="0" cellpadding="0">
        <tr bgcolor="#6060C0">
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>ID</strong></font></td>
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Problem</strong></font></td>
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Create Person</strong></font></td>
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Create_time</strong></font></td>
        </tr>
        <tr bgcolor="#F0F0FF">
            <td><font face="verdana"  size="3">{{bug.id}}</font></td>
            <td><font face="verdana"  size="3">{{bug.problem}}</font></td>
            <td><font face="verdana"  size="3">{{bug.create_person}}</font></td>
            <td><font face="verdana"  size="3">{{bug.create_time|date:"Y-m-d H:i:s"}}</font></td>
        </tr>
        <tr>
        <td><font face="verdana"  size="3"><strong>Note</strong></font></td>
            <td colspan="3"><font face="verdana"  size="3">{{bug.note}}</font></td>
        </tr>

    </table>
    <table border="1" width="100%">
        <tr>
            <td align="center" colspan="4"><font face="verdana"  size="3"><strong>Stage</strong></font></td>
        </tr>
        <tr bgcolor="#6060C0">
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Status</strong></font></td>
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Update Person</strong></font></td>
            <td><font face="verdana" size="3" color="#FFFFFF"><strong>Update Time</strong></font></td>
            <td><font face="verdana"  size="3" color="#FFFFFF"><strong>Note</strong></font></td>
        </tr>
        {% for i in stages %}
        <tr bgcolor="#F0F0FF">
            <td><font face="verdana"  size="3"><strong>{{i.status}}</strong></font></td>
            <td><font face="verdana"  size="3">{{i.update_person}}</font></td>
            <td><font face="verdana"  size="3">{{i.update_time|date:"Y-m-d H:i:s"}}</font></td>
            <td><font face="verdana"  size="3">{{i.note}}</font></td>
        </tr>
        {% endfor%}
    </table>
</div>
{% endblock %}

<table border="3" cellpadding="0"><tr><td>
<table border="0" cellpadding="2" cellspacing="2">
    <tr bgcolor="#F0F0FF">
        <td>
        <form action="/bugs/{{bug.id}}/" method='post'>
            {% csrf_token %}
            <tr>
                <td align="center" bgcolor="#6060C0" colspan="2"><font face="verdana" color="#FFFFFF" size="4"><strong>Create Stage</strong></font></td>
            </tr>
            <div class="fieldWrapper">
                <tr bgcolor="#F0F0FF">
                    <td ><label><font face="verdana" >Status:</font></label></td>
                    <td>{{ form.status }}{{ form.status.errors }}</td>
                </tr>
                <tr bgcolor="#F0F0FF">
                    <td><label><font face="verdana" >Update Person:</font></label></td>
                    <td>{{ form.update_person }}{{ form.update_person.errors }}</td>
                </tr>
                <tr bgcolor="#F0F0FF">
                    <td ><label><font face="verdana" >Note:</font></label></td>
                    <td>{{ form.note }}{{ form.note.errors }}</td>
                </tr>
                <tr bgcolor="#F0F0FF">
                    <td colspan="2" align="right"><input type="submit" value="Update", name="action"></td>

                </tr>
            </div>
        </form>
        </td>
    </tr>
</table>
</td></tr></table>
{{state}}
</body>
</html>